body{

    background-image: url("Fotos/fons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: arial, helvetica;
}

nav{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    max-width:800px;
    margin: auto;
}
nav a{
    text-decoration:none;
    color:#F0D7D1;
    padding:20px;
    display:block;}

nav li{
    display:inline-block;
    text-align:center;
    display:inline-block;
    width:20x;
    height:px;
    padding:px;
    text-align:center;
    color:#fff;
    position:relative;
}

nav li:hover{
    background-color:#ef8354;
}

nav li ul li{
    background: #092327;
    width:100px;
}

nav li>ul{
    display:none;
}

nav li:hover>ul{
    display:block;
    position:absolute;
    top:58px;
    left:-40px;
}


.guia{
    text-align: center;
    display:block;
    margin:auto;
}

.guia {
    box-sizing: content-box;
    width: 70%;
    border: solid #5B6DCD 10px;
    padding: 5px;
}

.guia{
    background: white;
    margin-top: 25px;
    padding: 3px;
}

h1{
    text-align: center;
    color: black;
    font-size: 30px;
}

p{
    width: 80%;
    text-align: center;
    display:block;
    margin:auto;
}